*{
	background-color: #f9dcd3;
}
#top{
	color: white;
	font-family: Helvetica;
	font-weight: lighter;
	text-align: center;
	border: 2px black dotted;
	font-size: 75px;
	background-color: #c7b0a8

}
#intro{
	font-family: Helvetica;
	font-size: 15px;

}
.container{
	border: 4px white solid;
	text-align: left;
	height: 150px;
	width: 10%; float: center;
	padding: 10px;
	font-family: Helvetica;
	font-style: lighter;
	margin-left: auto;
	margin-right: auto;
	

}