*{
	background-color:black;
}
.emma{
	font-family: Avenir Next;
	font-size: 15pt;
	display: inline-block;
	position: relative;
	float: left;
	text-align: left;
	width:275pt;
	height: 100%;
	margin-top: 20pt;
	margin-left: 20pt;
	color: #99aaff;
}
a{
	color:white;
	text-decoration: none;
}