
*{
	background-color: white;
}

.sci{
	font-family: Avenir Next;
	font-size: 15pt;
	display: inline-block;
	position: relative;
	text-align: center;
	width:40%;
	height: 100%;
	margin-top: 20%;
	margin-left: 30%;
}
a{
	color:#e0360a;
	text-decoration: none;
}

